<html>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css' ) }}">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <h2 style="color:#000000;text-align:center"
>Tax Fraudulent Prediction </h2>
<body>

<div>
<form name = "form1" action="/result" method="POST" onsubmit="required()" >
<div class="container">

  <div class="row top-buffer">
    <div class="col">
      <div class="form-group" >
    <label for="TIN">TIN</label>
    <input type="text" id="TIN" name="TIN"  class ="form-control w-25"  required>
</div>
    </div>
    <div class="col">
      <div class="form-group">
    <label for="Country (Legal establishment)">Country (Legal establishment)</label>
    <input type="text" id="Country (Legal establishment)" name="Country (Legal establishment)" class ="form-control w-25" required>
    </div>
    </div>
    <div class="col">
      <div class="form-group">
    <label for="Incorporation type">Incorporation type</label>
    <input type="text" id="Incorporation type" name="Incorporation type" class ="form-control w-25" required>
    </div>
    </div>
  </div>
    <div class="row top-buffer">
    <div class="col">
      <div class="form-group">
    <label for="Taxpayer Category">Taxpayer Category</label>
    <select id="Taxpayer Category" name="Taxpayer Category" class ="form-control w-25" class ="form-control w-25" required>
      <option value="0">Economic  Enterprise</option>
      <option value="1">Liberal Professions</option>
      <option value="2">Non Profit Organization</option>
      <option value="3">Permanent Establishment</option>
      <option value="4">Resident Legal Entity</option>
      <option value="5">Special Entities</option>
    </select>
    </div>
    </div>
    <div class="col">
      <div class="form-group">
      <label for="Registered As Individuals">Registered As Individuals</label>
      <input type="text" id="Registered As Individuals" name="Registered As Individuals" class ="form-control w-25" required>
    </div>
    </div>
    <div class="col">
      <div class="form-group">
      <label for="Number of Employee in company">Number of Employee in company</label>
      <input type="text" id="Number of Employee in company" name="Number of Employee in company" class ="form-control w-25" required>
    </div>
    </div>
  </div>
 <div class="row top-buffer">
    <div class="col">
    <div class="form-group">
    <label for="Qatari Company">Qatari Company</label>
    <select id="Qatari Company" name="Qatari Company" class ="form-control w-25" required>
      <option value="0">Non-Qatari</option>
      <option value="1">Qatari</option>
    </select>
</div>
    </div>
    <div class="col">
      <div class="form-group">
      <label for="Profit sharing %">Profit sharing %</label>
      <input type="text" id="Profit sharing %" name="Profit sharing %" class ="form-control w-25" required>
    </div>
    </div>
    <div class="col">
      <div class="form-group">
    <label for="Owner Type">Owner Type</label>
    <select id="Owner Type" name="Owner Type" class ="form-control w-25" required>
      <option value="0">Corporate</option>
      <option value="1">Natural Person</option>
      <option value="2">Organization</option>
      <option value="3">Other Entity</option>
      <option value="4">N/A</option>
    </select>
 </div>
    </div>
  </div>
 <div class="row top-buffer">
    <div class="col">
   <div class="form-group">
      <label for="Ownership %">Ownership %</label>
    <input type="text" id="Ownership %" name="Ownership %" class ="form-control w-25" required>
    </div>
    </div>
    <div class="col">
      <div class="form-group">
      <label for="Currency">Currency</label>
    <input type="text" id="Currency" name="Currency" class ="form-control w-25" required>
    </div>
    </div>
    <div class="col">
     <div class="form-group">
      <label for="DnBRatings">DnBRatings</label>
    <input type="text" id="DnBRatings" name="DnBRatings" class ="form-control w-25" required>
    </div>
    </div>
  </div>
 <div class="row top-buffer">
    <div class="col">
   <div class="form-group">
      <label for="Establishment Type">Establishment Type</label>
    <input type="text" id="Establishment Type" name="Establishment Type" class ="form-control w-25" required>
    </div>
    </div>
    <div class="col">
         <div class="form-group">
      <label for="Due Date">Due Date</label>
    <input type="DATE" id="Due Date" name="Due Date" class ="form-control w-25" required>
    </div>
    </div>
    <div class="col">
      <div class="form-group">
    <label for="Compliance Status">Compliance Status</label>
    <select id="Compliance Status" name="Compliance Status" class ="form-control w-25" required>
      <option value="0">Billable</option>
      <option value="1">Billed</option>
      <option value="2">Parked</option>
    </select>
    </div>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col">
     <div class="form-group">
    <label for="Tax Type">Tax Type</label>
    <select id="Tax Type" name="Tax Type" class ="form-control w-25" required>
      <option value="0">Excise Tax</option>
      <option value="1">Income Tax</option>
      <option value="2">Value Added Tax</option>
      <option value="3">Withholding Tax</option>
    </select>
    </div>
    </div>
    <div class="col">
        <div class="form-group">
    <label for="Economic Sector">Economic Sector</label>
    <select id="Economic Sector" name="Economic Sector" class ="form-control w-25" required>
      <option value="0">Administration Consultancy, and Various kinds of studies</option>
      <option value="1">Distribution Services</option>
      <option value="2">Medical Services</option>
      <option value="3">Not assigned</option>
      <option value="4">Oil and Gas Activity</option>
      <option value="5">Petrol Stations and Car Services</option>
      <option value="6">Press Print and publishing Agences</option>
      <option value="7">Trade in general merchandise</option>
      <option value="8">Travel and Tourism Agencies</option>
      <option value="9">Unknown</option>
      <option value="10">foreign companies Representative offices</option>
    </select>
    </div>
    </div>
    <div class="col">
     <div class="form-group">
    <label for="Payment Status">Payment Status</label>
    <select id="Payment Status" name="Payment Status" class ="form-control w-25" required>
      <option value="0">Late Payers</option>
      <option value="1">Non Payers</option>
      <option value="2">On Time Payers</option>
    </select>
    </div>
    </div>
    </div>
 <div class="row top-buffer">
    <div class="col">
    <div class="form-group">
    <label for="Filing Status">Filing Status</label>
    <select id="Filing Status" name="Filing Status" class ="form-control w-25" required>
      <option value="0">Late Payers</option>
      <option value="1">Non Payers</option>
      <option value="2">On Time Payers</option>
    </select>
    </div>
    </div>
    <div class="col">
        <div class="form-group">
      <label for="Total Payment">Total Payment</label>
    <input type="text" id="Total Payment" name="Total Payment" class ="form-control w-25" required>
    </div>
    </div>
    <div class="col">
     <div class="form-group">
      <label for="Tax Amount">Tax Amount</label>
    <input type="text" id="Tax Amount" name="Tax Amount" class ="form-control w-25" required>
    </div>
    </div>
    </div>
    <div class="row top-buffer">
    <div class="col">
    <div class="form-group">
      <label for="Late Filing penalty">Late Filing penalty</label>
    <input type="text" id="Late Filing penalty" name="Late Filing penalty" class ="form-control w-25" required>
    </div>
    </div>
        <div class="col-2">
        </div>
<div class="col">

<input class="btn btn-dark" type="submit" value="Submit">
</div>
    <div class="col">
     <div class="form-group">
      <label for="Late Payment Penalty">Late Payment Penalty</label>
    <input type="text" id="Late Payment Penalty" name="Late Payment Penalty" class ="form-control w-25 " required>
    </div>
    </div>
    </div>

  </div>
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>